<div class="p-2">
  <a href="/static/photos/{{id}}-lg.jpg" alt="{{source_name}} ({{category}})">
    <div
      class="photo-small"
      style="background-image: url('/static/photos/{{id}}-sm.webp');"
    >
    </div>
  </a>
</div>