[Unit]
Description=Apteka gallery
After=network.target

[Service]
Type=simple
ExecStart=/opt/apteka/apteka --host 127.0.0.1 --port 9005
WorkingDirectory=/opt/apteka
User=apteka
Group=apteka

Restart=always
RestartSec=5s
TimeoutStartSec=30
TimeoutStopSec=10

ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictRealtime=no
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ReadWritePaths=/opt/apteka

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
